<jc-header title="Jedi Chat">
  <a *ngFor="let location of locations | async" [routerLink]="location.path"
     routerLinkActive="active">{{location.text}}</a>
</jc-header>

<form (ngSubmit)="onSubmit()" (reset)="onReset($event)" class="profile-form" autocomplete="off" [formGroup]="form">
  <div class="form-group">
    <label for="nickname">Nickname</label>
    <div class="container">
      <input type="text" class="form-control" id="nickname" [formControl]="form.get('name')">
      <div class="alert alert-danger" *ngIf="form.get('name').invalid && form.get('name').touched && form.get('name').dirty">
        Nickname is required
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <div class="container">
      <input type="password" class="form-control" id="password" [formControl]="form.controls['password']">
      <div class="alert alert-danger" *ngIf="form.get('password').invalid && form.get('password').touched">
        Password is required
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="m-password">Matching Password</label>
    <div class="container">
      <input type="password" class="form-control" id="m-password" [formControl]="form.get('matchingPassword')">
      <div class="alert alert-danger" *ngIf="form.invalid">
        {{form.errors?.blub || form.errors?.bla}}
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="bio">Bio</label>
    <div class="container">
      <input type="text" class="form-control" id="bio" [formControl]="form.get('bio')">
    </div>
  </div>

  <div class="form-group">
    <jc-dropdown
      [label]="'Gender'"
      [options]="GenderDropdownOptions"
      [id]="'gender'"
    >

    </jc-dropdown>
  </div>

  <div class="form-group">
    <jc-dropdown
      [label]="'Species'"
      [options]="SpeciesDropdownOptions"
      [id]="'species'"
    >

    </jc-dropdown>
  </div>

  <div class="form-group">
    <jc-dropdown
      [label]="'Fraction'"
      [options]="FractionDropdownOptions"
      [id]="'fraction'"
    >

    </jc-dropdown>
  </div>

  <div class="form-group">
    <label for="avatar">Avatar</label>
    <div class="upload">
      <input type="file" id="avatar" name="avatar" accept="image/png, image/jpg" (change)="onFileUpload($event)">
    </div>
  </div>

  <div class="form-buttons">
    <button type="reset">Reset</button>
    <button type="submit">Sign Up</button>
  </div>
</form>
